#set($title = "搜索")

#set($results = $page.results)

<div class="shadow-box">
	<div class="filter">
		#if($results.size() == 0)
			<div class="alert" style="margin-bottom:0">
				<i class="fa fa-exclamation fa-lg"></i> 没有相关记录!
			</div>
		#else
			<div class="alert" style="margin-bottom:0">
				 搜索 <strong>$!{q}</strong>, 共 ${page.totalCount} 个结果.
			</div>
		#end
	</div>
	<!-- tab panes -->
	<div class="stream-list p-stream">
		#foreach($row in $page.results)
			#showBlog($row)
		#end
	</div>
</div>
<div class="text-center clr">
	#page("search?q=$!{q}" $page 5)
</div>
<script>
$(function () {
	$('input[name=q]', $('#_search_box')).val('$!{q}');
});
</script>