<!-- header -->
<header id="header" class="navbar">
    <ul class="nav navbar-nav navbar-avatar pull-right">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <span class="hidden-sm-only">${profile.username}</span>
                <span class="thumb-small avatar inline"><img src="$base${profile.avatar}" class="img-circle"></span>
                <b class="caret hidden-sm-only"></b>
            </a>
            <ul class="dropdown-menu">
                <li><a href="$base/account/profile">Profile</a></li>
                <li class="divider"></li>
                <li><a href="$base/logout">Logout</a></li>
            </ul>
        </li>
    </ul>
    <a class="navbar-brand" href="$base/index">Mtons</a>
    <!--
<button type="button" class="btn btn-link pull-left nav-toggle hidden-lg" data-toggle="class:slide-nav slide-nav-left" data-target="body">
    <i class="icon-reorder icon-xlarge text-default"></i>
</button>
-->
    <ul class="nav navbar-nav hidden-sm">
        <li class="dropdown shift" data-toggle="shift:appendTo" data-target=".nav-primary .nav">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-plus"></i> POST <b class="caret hidden-sm-only"></b></a>
            <ul class="dropdown-menu">
                #foreach($g in $groups)
                    <li>
                        <a href="$base/post/new/${g.key}" target="_blank">${g.alias}</a>
                    </li>
                #end
            </ul>
        </li>
    </ul>
</header>
<!-- / header -->

<!-- nav -->
<nav id="nav" class="nav-primary visible-lg nav-vertical">
    <ul class="nav" data-spy="affix" data-offset-top="50">
        #foreach($menu in ${auth.findByParentId(2)})
            #if($shiro.hasPermission($menu.permission))
                <li><a href="$base/$menu.url" nav="$menu.sort"><i class="$menu.icon"></i>$menu.name</a></li>
            #end
        #end
    </ul>
</nav>
<!-- / nav -->