<div class="bdsharebuttonbox bdshare-button-24">
    <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
    <a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a>
    <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
    <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
</div>
<script>window._bd_share_config={"common":{"bdSnsKey":{"tsina":"3554307689"},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"1","bdSize":"24"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
<style>
    .bdshare-button-24 a, .bdshare-button-24 .bds_more {background-image: url("$base/assets/images/btn/icons_0_24.png"); border-radius: 4px;}
    .bdshare-button-style1-24 a, .bdshare-button-style1-24 .bds_more {padding-left: 24px;}
</style>