#set($title="照片墙")
#set($layout="default/layout/columns_full.vm")

<div id="blog-wrap" class="g-box masonry-grid">
	#foreach($row in $page.results)
	<div class="shadow-box g-item span_1_of_3 col masonry-entry">
		#if($!{row.album})
		<div class="g-thumb">
			<a href="$base/view/${row.id}">
				<img src="#resource(${row.album.preview})">
			</a>
		</div>
		#end
		<h3 class="title">
			#postLink($row)
		</h3>
		<div class="g-outline">
			<p>${row.summary}</p>
		</div>

		<div class="g-btm">
			<div class="pull-left">
				<div class="g-ava">
					#showAva(${row.author.avatar})
				</div>
				<div class="caption"><a href="$base/ta/${row.author.id}">#showName(${row.author})</a> • <time>$relDate.format($row.created)</time></div>
			</div>
			<a class="cmt pull-right" href="javascript:void(0)" onclick="onFavor(this, '${row.id}')">
				<i class="fa fa-heart-o"></i>&nbsp; <b data="count">${row.favors}</b>
			</a>
		</div>
	</div>
	#end
</div>
<!-- #blog-wrap -->
<div class="page-jump clr">
	<div class="newer-posts alignleft"></div>
	<div class="older-posts alignright">
		<a href="$base/gallery_snippet/2?g=$!{groupId}">Older Posts &rarr;</a>
	</div>
</div>

<script type="text/javascript">

function onFavor(event, id) {
	var that = $(event);
	if (parseInt(id) > 0) {
		jQuery.getJSON('$base/account/favor.json', {'id': id}, function (ret) {
			if (ret.code >=0) {
				var favors = that.find('[data="count"]').text();
				that.find('[data="count"]').text(parseInt(favors) + 1);
			} else {
				layer.msg(ret.message, {icon: 5});
			}
		});
	}
}

</script>