##
## 布局-登录页布局
##
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>$!{site_name} - 登录</title>
    <meta name="keywords" content="mtons,$!{site_keywords}">
    <meta name="description" content="$!{site_description}">

	$!{site_metas}

	<!-- v3 -->
	<link rel="stylesheet" href="$base/assets/vendors/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="$base/assets/css/login.css">
	<link rel="stylesheet" href="$base/assets/vendors/animate/animate.min.css">
	
	<!-- JavaScript -->
	
	<script type="text/javascript" src="$base/assets/js/jquery.min.js"></script>
	<script type="text/javascript" src="$base/assets/js/jquery-migrate-1.2.1.min.js"></script>
	<script type="text/javascript" src="$base/assets/vendors/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="$base/assets/vendors/validate/jquery-validate.js"></script>
	
	<!-- Favicons -->
    <link rel="apple-touch-icon-precomposed" href="http://mtons.com/assets/images/logo/m99.png"/>
    <link rel="shortcut icon" href="http://mtons.com/assets/images/logo/m.png"/>

</head>
<body class="sign">
	#parse("/default/inc/browse_tips.vm")
	
	${screen_content}
		
	<p class="small">
		$!{site_copyright} <a href="http://www.miitbeian.gov.cn/" target="_blank">$!{site_icp}
	</p>
	
</body>
</html>
