#set($layout = "/admin/layout/default.vm")

<div class="row m-t-large m-b">
    <div class="col-lg-7">
        <section class="panel">
            <header class="panel-heading">
                <ul class="nav nav-tabs pull-left">
                    <li class="active"><a href="#sites" data-toggle="tab"><i class="fa fa-globe"></i> 站点配置</a></li>
                    <li class=""><a href="#settings" data-toggle="tab"><i class="fa fa-gear"></i> 系统配置</a></li>
                    <li class=""><a href="#caches" data-toggle="tab"><i class="fa fa-inbox"></i> 缓存管理</a></li>
                </ul>
            </header>
            <div class="panel-body">
                <div class="tab-content">
                    <div class="tab-pane active" id="sites">
                        #parse("/admin/configs/sites.vm")
                    </div>
                    <div class="tab-pane" id="settings">
                        #parse("/admin/configs/settings.vm")
                    </div>
                    <div class="tab-pane" id="caches">
                        #parse("/admin/configs/caches.vm")
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<script type="text/javascript">
var J = jQuery;

function ajaxReload(json){
    if(json.code >= 0){
        if(json.message != null && json.message != ''){
            alert(json.message);
        }
        $('#qForm').submit();
    }else{
        alert(json.message);
    }
}

$(function() {
	// 刷新缓存
    $('a[data-action="flush_cache"]').bind('click', function(){
        if(confirm('确定要刷新Ehcache的缓存吗？')){
            J.getJSON('$base/admin/config/flush_cache.json', ajaxReload);
        }
        return false;
    });

    // 刷新系统变量
    $('a[data-action="flush_conf"]').bind('click', function(){
        if(confirm('确定要刷新系统变量的缓存吗？')){
            J.getJSON('$base/admin/config/flush_conf.json', ajaxReload);
        }
        return false;
    });

    // 重建索引
    $('a[data-action="flush_indexs"]').bind('click', function(){
        if(confirm('确定要重建文章索引吗？')){
            J.getJSON('$base/admin/config/flush_indexs.json', ajaxReload);
        }
        return false;
    });
})
</script>