#set($layout = "/admin/layout/default.vm")

<div class="col-lg-6">
    <div class="panel m-t-large m-b">
        <header class="panel-heading">友情链接#if($friendLink)修改#else添加#end</header>
        <div class="panel-body">
            <form id="qForm" class="form-horizontal" method="post" action="save">
                <input type="hidden" name="id" value="#if($friendLink)$!friendLink.id#else 0#end">
                <div class="form-group">
                    <label class="col-lg-2 control-label">站点名称</label>
                    <div class="col-lg-5">
                        <input type="text" name="siteName" class="form-control" value="$!{friendLink.siteName}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">LOGO</label>
                    <div class="col-lg-5">
                        <input type="text" name="logo" class="form-control" value="$!{friendLink.logo}">
                        <p class="help-block">示例：http://mtons.com/logo.png</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">网址</label>
                    <div class="col-lg-8">
                        <input type="text" name="url" class="form-control" value="$!{friendLink.url}">
                        <p class="help-block">示例: http://mtons.com</p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-2 control-label">站点描述</label>
                    <div class="col-lg-8">
                        <textarea rows="3" class="form-control" name="remark" class="form-control" placeholder="站点描述">$!{friendLink.remark}</textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">排序</label>
                    <div class="col-lg-2">
                        <input type="text" name="sort" class="form-control {digits:true}" value="$#if(!$friendLink)0#else$!friendLink.sort#end">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-9 col-lg-offset-3">
                        <button type="submit" class="btn btn-primary btn-small">提交</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<script type="text/javascript">
    $(function() {
        $("#qForm").validate();
    })
</script>